# NPM 镜像源
# registry=https://registry.npmjs.com
# CNPM 镜像源（淘宝 NPM 镜像）
registry=https://registry.npmmirror.com

# 依赖版本控制
save-exact=true                             # 安装依赖时，保存确切版本号（不使用 ^ 或 ~）。

# 行为控制
legacy-peer-deps=true                       # 忽略 peerDependencies 冲突（npm 7+）。
