# 基础配置 - 镜像源
# registry=https://registry.npmjs.com
# 国内加速（可选，二选一）
registry=https://registry.npmmirror.com

# 依赖版本控制
save-exact=true                             # 安装依赖时，保存确切版本号（不使用 ^ 或 ~）
save-prefix=""                              # 安装依赖时，不添加任何版本前缀
